input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    position: relative;
    width: fit-content;
    padding:0px;
    position:fixed;
    z-index: -9;
    top:0;
    right:0;
}
.inputCursor {
    position: relative;
    display: flex;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}


:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    color: white;
  }
